<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CollectX - Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- load js present in static folder using flask -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <script src="https://apis.google.com/js/api:client.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>

    {% assets "scss_all" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
    </head>
    <body>
        <!-- Navbar -->
        <!-- Navbar -->
        <nav class="navbar navbar-expand-custom navbar-mainbg">
            <p class="navbar-brand navbar-logo" href="#"><h1>CollectX</h1></p>
            <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars text-white"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                    <li class="nav-item">
                        <a class="nav-link" id = "dashboard" href="{{ url_for('index') }}"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    </li>
                    <!--If user is logged in and is M then show Details in the navbar-->
                    {% if user.is_authenticated %}
                        {% if user.get_role() == 'M' %}
                            <li class="nav-item">
                                <a class="nav-link" id = "route" href="{{ url_for('route_planning')}}"><i class="fa fa-truck"></i>Route Planning</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id = "worker_update" href="{{ url_for('worker_update') }}"><i class="far fa-address-book"></i>Worker Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id = "" href="{{ url_for('add_newbin') }}"><i class="fa fa-plus"></i>Add New Bin</a>
                            </li>
                        {% else %}
                        <li class="nav-item">
                                <a class="nav-link" id = "worker_timesheet" href="{{ url_for('worker_timesheet') }}"><i class="far fa-address-book"></i>Timesheet</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id = "self_profile" href="{{ url_for('assinged_route') }} "><i class="far fa-address-book"></i>Assigned Routes</a>
                            </li> 
                        {% endif %}
                        <li class="nav-item active">
                            <a class="nav-link" id = "self_profile" href="{{ url_for('profile') }}"><i class="far fa-address-book"></i>Profile</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout') }}"><i class="fa fa-sign-out"></i>Logout</a>
                            
                        </li>
                    {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('login') }}" role="button" style="text-transform:none">
                                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                                    Login
                                  </a>    
                            </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    <!-- Navbar -->

    <!-- Content -->    
        
    <!--
    <div class="container">
        <div class="row">
            <h1><bold>Personal Information</bold></h1> 
        </div>
        <div class="row">
          
          <div class="column">
            <form action="{{ url_for('profile') }}" method="POST">
                <h3>
                    <label for="fname">Full Name
                    <input type="text" id="fname" name="fullname" value="{{ user.user.name }}">
                </label>
                </h3>
                <h1>
                    <label for="subject">Phone Number</label>
                </h1>
                <h4>
                    <input type="tel" id="phone" name="phone" pattern="[0-9]{10}"value="{{ user.user.phone}}">
                </h4>
                <h1>
                    <label for="subject">Email</label>
                </h1>
                <h4>
                    <input type="text" id="email" name="email" value="{{ user.user.email}}" disabled>
                </h4>
                <h1>
                    <label for="subject">Role</label>
                </h1>
                <h4>
                    {% if user.user.role == "M" %}
                        <input type="text" id="role" name="role" value="Manager" disabled>
                    {% else %}
                        <input type="text" id="role" name="role" value="Worker" disabled>
                    {% endif %}
                </h4>
                
                
                <center><input type="submit" value="Update"></center>
            </form>
          </div>
          <div class="column text-center my-auto">
            <img src="{{user.photo}}" style="width:50%; top:50%" class="rounded-circle">
          </div>
        </div>
      </div>

    -->
    

    <div class="cont">
        <form action="{{ url_for('profile') }}" method="POST">
            <div class="form sign-in">
            <h2>Profile Details</h2>
            <label>
                <span>Full Name</span>
                <input type="text" id="fname" name="fullname" value="{{ user.user.name }}">
            </label>
            <label>
                <span>Phone</span>
                <input type="tel" id="phone" name="phone" pattern="[0-9]{10}"value="{{ user.user.phone}}">
            </label>
            <label>
                <span>Email</span>
                <input type="text" id="email" name="email" value="{{ user.user.email}}" disabled>
            </label>
            <label>
                <span>Password</span>
                {% if user.user.role == "M" %}
                    <input type="text" id="role" name="role" value="Manager" disabled>
                {% else %}
                    <input type="text" id="role" name="role" value="Worker" disabled>
                {% endif %}
            </label>
            <button type="submit" class="submit" value="Update">Update</button>
            
            </div>
        </form>
        <div class="sub-cont">
        <div class="img">
            <!--<div class="img__text m--up">
            <h2>Profile Photo</h2>
            <img src="{{user.photo}}" style="width:80%;" class="rounded-circle">
            </div>-->
        </div>
        
    </div>
  
  

      {% if alert %}
      <script>
      alert("{{ alert_message }}");
      </script>
      {% endif %}
    </body>

</html>
