<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CollectX</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    
    <!-- load js present in static folder using flask -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    
    <script>
        $(document).ready(function() {
            $(":checkbox").on("click", false);
        });
    </script>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-custom navbar-mainbg">
            <p class="navbar-brand navbar-logo" href="#"><h1>CollectX</h1></p>
            <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars text-white"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                    <!--If user is logged in and is M then show Details in the navbar-->
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" id = "dashboard" href="#" style="color:white;">Logged In User: {{ user.user.name }}</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" id = "dashboard" href="{{ url_for('index') }}"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        {% if user.get_role() == 'M' %}
                            <li class="nav-item active">
                                <a class="nav-link" id = "route" href="{{ url_for('route_planning')}}"><i class="fa fa-truck"></i>Route Planning</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id = "worker_update" href="{{ url_for('worker_update') }}"><i class="far fa-address-book"></i>Worker Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id = "" href="{{ url_for('add_newbin') }}"><i class="fa fa-plus"></i>Add New Bin</a>
                            </li>
                        {% else %}
                        <li class="nav-item">
                                <a class="nav-link" id = "worker_timesheet" href="{{ url_for('worker_timesheet') }}"><i class="far fa-address-book"></i>Timesheet</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id = "self_profile" href="{{ url_for('assinged_route') }} "><i class="far fa-address-book"></i>Assigned Routes</a>
                            </li> 
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" id = "self_profile" href="{{ url_for('profile') }}"><i class="far fa-address-book"></i>Profile</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout') }}"><i class="fa fa-sign-out"></i>Logout</a>
                            
                        </li>
                    {% else %}
                            <li class="nav-item active">
                                <a class="nav-link" id = "dashboard" href="#" style="color:white;">Logged In User: {{ user.user.name }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('login') }}" role="button" style="text-transform:none">
                                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                                    Login
                                  </a>    
                            </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    <!-- Navbar -->
    <!--If alert is not None raise the alert-->
    {% if alert %}
    <script>
    alert("{{ alert_message }}");
    </script>
    {% endif %}
    <!-- Content -->
    <!--Create a table with 7 columns and name them with weekdays
    in the first row write the weeknumber and in the second row write None-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                        Timesheet for Upcoming Week
                        </h3>
                    </div>
                    <div class="card-body">
                        <form action="{{ url_for('worker_timesheet') }}" method="POST">
                            
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Monday</th>
                                        <th scope="col">Tuesday</th>
                                        <th scope="col">Wednesday</th>
                                        <th scope="col">Thursday</th>
                                        <th scope="col">Friday</th>
                                        <th scope="col">Saturday</th>
                                        <th scope="col">Sunday</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">Worker Email</td>
                                        {% for date in dates%}
                                        <th scope="col" class="text-center">{{ date }}</td>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for (worker_name,worker_email), dates_morning, dates_afternoon in workers_timesheet %}
                                    <tr>
                                        <td style="border-bottom: none;" colspan="8" scope="col">{{ loop.index }}. Name: <b>{{ worker_name }}</b>, Email: <b>{{ worker_email }}</b></td>
                                    </tr>
                                    <tr>
                                        <td>Morning Shift:</td>
                                        {% for day, working in dates_morning %}
                                        <td class="text-center" scope="col">
                                            {% if working %} <i class="fa fa-check" style="color: green;"></i> {% endif %}
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <td>Afternoon Shift:</td>
                                        {% for day, working in dates_afternoon %}
                                        <td class="text-center" scope="col">
                                            {% if working %} <i class="fa fa-check" style="color: green;"></i> {% endif %}
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                    
                                    <tr>
                                        <td colspan="8" scope="col">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td scope="col" scope="col">Total Morning: </td>
                                        {% for total_date in total_worker_morning %}
                                        <td scope="col" class="text-center" {% if total_date==0 %} style="color:black; background-color:red" {% endif %} scope="col">
                                            {% if total_date!=0 %} {{ total_date }} {% else %} NO WORKER PRESENT {% endif %}
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <td scope="col" scope="col">Total Afternoon: </td>
                                        {% for total_date in total_worker_afternoon %}
                                        <td scope="col" class="text-center" {% if total_date==0 %} style="color:black; background-color:red" {% endif %} scope="col">
                                            {% if total_date!=0 %} {{ total_date }} {% else %} NO WORKER PRESENT {% endif %}
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <td colspan="8" scope="col" scope="col">
                                            <button type="submit" class="btn btn-danger btn-block" disabled>Raise overtime request</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="8" scope="col">
                                            <button type="submit" class="btn btn-success btn-block" disabled>Generate Route for next week</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            
                            <!--
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="">
                                            
                                            <div class="container border-bottom">
                                                <div class="row" style="background-color:#343a40;font-weight: bold;color: rgb(255, 255, 255);padding: 5px;">
                                                    <div class="col">Day</div>
                                                    <div class="col">Monday</div>
                                                    <div class="col">Tuesday</div>
                                                    <div class="col">Wednesday</div>
                                                    <div class="col">Thursday</div>
                                                    <div class="col">Friday</div>
                                                    <div class="col">Saturday</div>
                                                    <div class="col">Sunday</div>
                                                </div>

                                                <div class="row" style="background-color:#343a40;font-weight: bold;color: rgb(255, 255, 255);
                                                padding: 5px;
                                                    ">
                                                    <div class="col">Email \ Dates</div>
                                                    {% for date in dates%}
                                                    <div class="col" class="text-center">{{ date }}</div>
                                                    {% endfor %}
                                                </div>
                                                <br>
                                                {% for (worker_name,worker_email), dates_morning, dates_afternoon in workers_timesheet %}
                                                    
                                                        <div class="row " style="padding: 5px;">
                                                            <p>Name: <b> {{ worker_name }}</b>, Email: <b> {{ worker_email }}</b></p>
                                                        </div>
                                                        <div class="row" style="padding: 5px;">
                                                            <div class="col" style="padding: 5px;">Morning Shift:</div>
                                                            {% for day, working in dates_morning %}
                                                            <div class="col text-center border" style="padding: 5px;">
                                                                <input type="checkbox" name="working" value="{{ day }}_morning"{% if working %} checked {% endif %}>
                                                            </div>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="row" style="padding: 5px;">
                                                            <div class="col" style="padding: 5px;">Afternoon Shift:</div>
                                                            {% for day, working in dates_afternoon %}
                                                            <div class="col text-center border" style="padding: 5px;">
                                                                <input type="checkbox" name="working" value="{{ day }}_afternoon"{% if working %} checked {% endif %}>
                                                            </div>
                                                            {% endfor %}
                                                        </div>
                                                    
                                                    <br>
                                                {% endfor %}

                                                <div class="row" style="padding: 5px;">
                                                    <div class="col" style="padding: 5px;">Total Morning: </div>
                                                    {% for total_date in total_worker_morning %}
                                                    <div class="col text-center border" style="padding: 5px; {% if total_date==0 %}color:black; background-color:red {% endif %}">
                                                        {% if total_date!=0 %} {{ total_date }} {% else %} NONE {% endif %}
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                <div class="row" style="padding: 5px;">
                                                    <div class="col" style="padding: 5px;">Total Afternoon: </div>
                                                    {% for total_date in total_worker_afternoon %}
                                                    <div class="col text-center border" style="padding: 5px; {% if total_date==0 %}color:black; background-color:red {% endif %}">
                                                        {% if total_date!=0 %} {{ total_date }} {% else %} NONE {% endif %}
                                                    </div>
                                                    {% endfor %}
                                                </div>

                                                <div class="row" style="padding: 5px;">
                                                    <div class="col" style="padding: 5px;">
                                                        <button type="submit" class="btn btn-danger btn-block" disabled>Raise overtime request</button>
                                                    </div>
                                                </div>
                                                <div class="row" style="padding: 5px;">
                                                    <div class="cow" style="padding: 5px;">
                                                        <button style="width: 100%;" type="submit" class="btn btn-success btn-block" disabled>Generate Route for next week</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content -->


    



    
    {% if alert %}
    <script>
    alert("{{ alert_message }}");
    </script>
    {% endif %}
    </body>

</html>
