<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CollectX</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- load js present in static folder using flask -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <script src="https://apis.google.com/js/api:client.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script>
        $(document).ready(function(){
            $(".size_chart").hide();
            $("#option_{{ today_date }}").show();
            $("#size_select").change(function(){
            $('.size_chart').hide();
            $('#'+$(this).val()).show();
        });

        });
    </script>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-custom navbar-mainbg">
            <p class="navbar-brand navbar-logo" href="#"><h1>CollectX</h1></p>
            <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars text-white"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                    <!--If user is logged in and is M then show Details in the navbar-->
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" id = "dashboard" href="#" style="color:white;">Logged In User: {{ user.user.name }}</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" id = "dashboard" href="{{ url_for('index') }}"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        {% if user.get_role() == 'm' %}
                            <li class="nav-item">
                                <a class="nav-link" id = "route" href="{{ url_for('route_planning')}}"><i class="fa fa-truck"></i>Route Planning</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id = "worker_update" href="{{ url_for('worker_update') }}"><i class="far fa-address-book"></i>Worker Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id = "" href="{{ url_for('add_newbin') }}"><i class="fa fa-plus"></i>Add New Bin</a>
                            </li>
                        {% else %}
                        <li class="nav-item">
                                <a class="nav-link" id = "worker_timesheet" href="{{ url_for('worker_timesheet') }}"><i class="far fa-address-book"></i>Timesheet</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" id = "self_profile" href="{{ url_for('assinged_route') }} "><i class="far fa-address-book"></i>Assigned Routes</a>
                            </li> 
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" id = "self_profile" href="{{ url_for('profile') }}"><i class="far fa-address-book"></i>Profile</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout') }}"><i class="fa fa-sign-out"></i>Logout</a>
                            
                        </li>
                    {% else %}
                            <li class="nav-item">
                                <a class="nav-link" id = "dashboard" href="#" style="color:white;">Not logged in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('login') }}" role="button" style="text-transform:none">
                                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                                    Login
                                  </a>    
                            </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    <!-- Navbar -->
    <!--If alert is not None raise the alert-->
    {% if alert %}
    <script>
    alert("{{ alert_message }}");
    </script>
    {% endif %}
    <!-- Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Route</h1>
                <h3>Date: <select id="size_select">
                    {% for date in dates %}
                        <option value="option_{{date}}" {% if date==today_date %} selected {% endif %}>{{ date }} </option>
                    {% endfor %}
                  </select> </h3>
                {% for date, route_morning, route_afternoon in all_data %}
                <div class="size_chart" id="option_{{date}}">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2" class="text-center">Morning</th>
                            </tr>
                            <tr>
                                <th scope="col">Bin</th>
                                <th scope="col">Directions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if route_morning==[] %}
                                <tr>
                                    <td colspan="2" class="text-center">No route morning route assigned for {{date}}</td>
                                </tr>
                            {% else %}
                                {% for binName, link in route_morning %}
                                <tr>
                                    <td>{{ binName }}</td>
                                    <td><a href="{{ link }}" class="" target="_blank">Link for direction </a></td>
                                </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                        <thead>
                            <tr>
                                <th scope="col" colspan="2" class="text-center">Afternoon</th>
                            </tr>
                            <tr>
                                <th scope="col">Bin</th>
                                <th scope="col">Directions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if route_afternoon==[] %}
                                <tr>
                                    <td colspan="2" class="text-center">No route afternoon route assigned for {{date}}</td>
                                </tr>
                            {% else %}
                                {% for binName, link in route_afternoon %}
                                <tr>
                                    <td>{{ binName }}</td>
                                    <td><a href="{{ link }}" class="" target="_blank">Link for direction </a></td>
                                </tr>
                                {% endfor %}
                            {% endif %}
                            
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>

        <!--Show the current active pane from navbar-->
        
    

    </body>

</html>
